* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0984e3;
}

#game-board {
  width: 400px;
  height: 400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /*fix for Safari */
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg); /*fix for Firefox */
  position: absolute;
  border-radius: 5px;
  background: #74b9ff;
  text-align: center;
  font-size: 60px !important;
  text-shadow: 0 0 3.2px #636e72;
  text-shadow: 0 0 0.2rem #636e72;
}

.front-face {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding-top: calc(50% - 0.8rem);
}

.back-face {
  font-family: Verdana, sans-serif;
  color: #fdcb6e;
  padding-top: calc(50% - 1.5rem);
}

.sour-lemon {
  color: #ffeaa7;
}

.mint-leaf {
  color: #00b894;
}

.pink-glamour {
  color: #e17055;
}

.prunus-avium {
  color: #e84393;
}

.pico-pink {
  color: #fd79a8;
}

.exodus-fruit {
  color: #6c5ce7;
}

.matched > div {
  background: #dfe6e9;
  color: #b2bec3;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
